<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tecstudyap.sinkuquiz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/quizinkulogo5"
        android:label="@string/app_name"
        android:roundIcon="@drawable/quizinkulogo5"
        android:supportsRtl="true"
        android:theme="@style/Theme.SinkuQuiz"
        android:usesCleartextTraffic="true"
        android:name=".ApplicationClass">
        <activity
            android:name=".PrivacyPolicyForQuizinku"
            android:exported="false" />
        <activity
            android:name=".SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2779631885874157~3086082399" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>